<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Expires" content="0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no" />
    <!-- yield "title" -->
    <title>编程猫</title>
    <!-- /yield -->
    <link rel="dns-prefetch" href="%{{ runtime.cdnBase }}%" />
    <link rel="icon" type="image/x-icon" href="https://static-k12edu.codemao.cn/codesailing/build/favicon.ico" />
    <!-- yield "head" -->
    <!-- /yield -->
  </head>

  <body>
    <!-- include "../includes/global.inc.ts" -->
    <!-- include "../includes/catch-error.inc.ts" -->

    <!-- yield "content" --><!-- /yield -->

    <!-- yield "polyfill" -->
    <script id="polyfill-script" type="text/template" src="/common/scripts/polyfill/main.js"></script>
    <script>
      G.__REQUIRE_POLYFILL__ = !window.Promise || !window.fetch;
    </script>
    <!-- /yield -->

    <!-- yield "script" --><!-- /yield -->

    <!-- include "../includes/boot.inc.ts" -->

    <!-- include "../includes/socket.io.js" if="%{{ENV === 'local' ? 'yes' : 'no'}}%" -->
    <!-- include "../includes/live-reload.inc.ts" if="%{{ENV === 'local' ? 'yes' : 'no'}}%" -->
  </body>
</html>
